<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="address" class="com.revision.demo.entity.Address">
        <property name="street" value="dream-street"/>
        <property name="city" value="Yangon"/>
        <property name="state" value="Hlaing"/>
    </bean>

    <bean id="person" class="com.revision.demo.entity.Person">
        <constructor-arg name="name" value="Ye Htet"/>
        <constructor-arg name="age" value="25"/>
        <constructor-arg name="gender" value="male"/>
        <constructor-arg name="address" ref="address" />
    </bean>

</beans>